$cblack: black;

.three-dot-spinner{
    text-align: center;

    & div{
        display: inline-block;
        width: 18px;
        height: 18px;
        background-color: $cblack;
        border-radius: 50%;
        animation: sk-bouncedelay 1.4s infinite;
    }
    
    & .bounce1{
        animetion-delay: 0.32s;
    }
}

@keyframes sk-bouncedelay{
    0%{
        transform: scale(0);
    }
    10%{
        transform: scale(1);
    }
    
    20%{
        transform: scale(2);
    }
    
    30%{
        transform: scale(3);
    }
    
    40%{
        transform: scale(4);
    }
    
    50%{
        transform: scale(5);
    }
    
    60%{
        transform: scale(4);
    }
    
    70%{
        transform: scale(3);
    }
    80%{
        transform: scale(2);
    }
    90%{
        transform: scale(1);
    }
    100%{
        transform: scale(0);
    }
    
    
}